.home{
    padding-inline: 4rem;
    margin-top: 3rem;   
    /* position: relative; */
    overflow: hidden;
    padding-bottom: 2rem;
}
.home h2{
    color:#3e3e3e;
    font-size: 20px;
    letter-spacing: 1px;
}
.h1{
    margin: 1rem 0 0 0;
    color:#5c5c5c ;
    font-size: 30px;
    width: 45%;
    font-weight:bolder;
    line-height: 1.5;
    letter-spacing: 1px;
}
.social-div{
    margin-top: 2rem;
    color: rgb(231, 185, 193);
}
.social{
    margin-right: 1rem; 
    font-size: 24px;
    cursor: pointer;
}

.social:hover{
    color: black;
    transition: all ease .3s;
    scale: 1.2;
}
.btn{
    margin-top: 2rem;
    padding: .6rem 1rem;
    border-radius: .4rem;
    cursor: pointer;
    font-size: 20px; 
    border: none;
    color: white;
    background: linear-gradient(252deg, rgba(241, 184, 210, 0.74) -4.03%, rgba(149, 187, 233, 0.79) 112.41%)
}
.btn:hover{
    color: rgb(255, 170, 184);
    background: white;
    border: 2px solid rgb(174, 154, 157);
}
@media only screen and (max-width:1024px){
    .h1{
        font-size: 24px;
    }
    .home h2{
        font-size: 16px;
    }
    .home{
        margin-top: 1.5rem;
    }
    .social{
        font-size: 20px;
    }
    .btn{
        padding: .4rem .7rem;
    }
    .social-div{
        margin-top: 1.3rem;
    }
}
@media only screen and (max-width:768px){
    .h1{
        font-size: 22px;
        width: 60%;
    }
    .home h2{
        font-size: 14px;
    }
    .home{
        margin-top: 1.3rem;
    }
    .social{
        font-size: 18px;
    }
    .btn{
        padding: .4rem .7rem;
    }
    .social-div{
        margin-top: 1.3rem;
    }
}
@media only screen and (max-width:450px){
    .h1{
        font-size: 18px;
        width: 80%;
    }
    .home h2{
        font-size: 14px;
    }
    .home{
        margin-top: 1rem;
    }
    .social{
        font-size: 19px;
    }
    .btn{
        padding: .2rem .5rem;
    }
    .social-div{
        margin-top: 1.3rem;
    }
    .btn{
        margin-top: 1rem;
    }
}

@media only screen and (max-width:390px){
    .home{
        padding: 1rem;
    }
}